<template>
    <div id="send-message" class="modal fade" :class="[ show ? 'show d-block' : '' ]" :style="{ background: (show ? 'rgba(0, 0, 0, .5)' : '') }">
        <div class="modal-dialog" :class="{ 'cursor-wait': submitting }">
            <div class="modal-content">
                <div class="modal-body p-3">
                    <button type="button" class="close white" data-dismiss="modal" aria-hidden="true" @click="close">&times;</button>
                    <h3 class="bold text-transform-uppercase">Enviar mensaje</h3>

                    <hr class="border-white">

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <form class="form-group p-0">
                                <label>Mensaje para el moderador</label>
                                <textarea class="form-control" :class="{ 'is-invalid': error }" rows="5" placeholder="Escribe aquí el mensaje que quieres enviar al moderador" v-model="message" :disabled="submitting"></textarea>
                                
                                <div class="invalid-feedback" v-show="error">{{ error }}</div>
                            </form>
                        </div>
                        
                        <div class="col-sm-12">
                            <button type="submit" class="login-button w-100" :class="{ 'blue': submitting }" @click="send" :disabled="submitting">
                                <i class="fas fa-spin fa-spinner" v-if="submitting"></i>
                                <span v-else>Enviar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue, Prop } from 'vue-property-decorator'
import axios from 'axios'

@Component
export default class SendMessage extends Vue {
    @Prop({ required: true, type: Boolean, default: false })
    public show!: boolean

    public submitting: boolean = false
    public message: string | null = null
    public error: string | null = null

    public send(): void {
        if (!this.message) {
            this.error = 'El mensaje no puede estar vacío'
            return
        }

        this.submitting = true

        axios.post('/api/preguntas/messages/send', {
            message: this.message
        })
        .then(({ data }) => {
            if (!data) {
                this.error = 'El mensaje no es válido'
                return
            }

            this.$emit('add-message', data, true)
            this.message = null
        })
        .catch(() => this.error = 'Ocurrió un error al intentar enviar el mensaje')
        .finally(() => this.submitting = false)
    }

    public close(): void {
        this.$emit('close')
    }
}
</script>