/**
 * @author Alexis Bogado
 * @package webinar-preguntas
 */
    
$gradient-direction: left
$gradient-color-1: #0b78c1
$gradient-color-2: #30b3b8

$fast-animation-duration: 0.5s
$slow-animation-duration: 1s
$middle-value: 50%

$white: #ffffff
$gray: #fafafa
$red: #ff0000
$hover-gray: #f2f2f2
$dark-blue: #66c2ff6b

$shadow-out: rgba(0, 0, 0, 0.5)
$shadow-in: rgba(0, 0, 0, 0.2)

@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700,900&display=swap")

body
    background-color: $gray
    font-family: "Libre Franklin"
    font-size: 16px
    overflow-x: hidden

*:disabled
    cursor: not-allowed

.mid
    position: absolute
    top: $middle-value
    left: $middle-value
    transform: translate(-$middle-value, -$middle-value)

    .card
        min-width: 20em
        animation: zoomIn $fast-animation-duration ease-in-out

.text-transform-uppercase
    text-transform: uppercase

.navbar
    min-height: auto !important
    background: linear-gradient(to $gradient-direction, $gradient-color-1, $gradient-color-2) !important
    padding: 10px 15px !important
    position: relative !important
    border-radius:  !important

    #navbarNav
        direction: rtl

    .nav-item.q
        @extend .text-transform-uppercase
        margin: 0 10px !important

    .nav-link
        font-size: 1em !important

    .red
        color: $red

.raise-height
    height: 18%
    max-height: 18%

.height80
    height: 70%
    max-height: 70%

.blue-bg
	background-color: $dark-blue !important

#arrow-up
    border-radius: $middle-value
    transition: $fast-animation-duration
    box-shadow: 0 0 10px 0 $shadow-out, inset 0 0 10px 0 $shadow-in !important

.arrow-area 
    position: absolute
    right: 5%

.flipped 
    transform: rotate(180deg)

.unread-messages 
    font-size: 0.45em !important
    background-color: $red
    color: $white
    border-radius: 6px
    padding: 5px 9px
    animation: pulse $slow-animation-duration linear infinite
    top: -.4em

.text-align-center
    text-align: center !important

.text-align-right
    text-align: right !important

.status 
    display: none

    &.show 
        display: inline-block

input:read-only
    @extend .background-transparent
    border: 0

.background-transparent 
    background-color: transparent !important

.btn-gradient
    @extend .text-transform-uppercase, .bold
    background: linear-gradient(to $gradient-direction, $gradient-color-1, $gradient-color-2)
    border: none
    border-radius: 5em
    box-shadow: 0 0 10px 0 $shadow-out, inset 0 0 10px 0 $shadow-in !important
    font-size: 0.9em
    color: $white

    &:hover
        color: $hover-gray

.bold
    font-weight: bold !important

.middle
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    color: $gradient-color-1

.gradient-divider
    background-color: $hover-gray
    height: 1.2em
    width: 100%

    &::after
        content: ' '
        width: 70%
        float: right
        height: 1.2em
        border-top-left-radius: 1em
        border-bottom-left-radius: 1em
        background: linear-gradient(to $gradient-direction, $gradient-color-1, $gradient-color-2)

.w-100
    width: 100% !important

.card.shadow
    box-shadow: 0 0 10px 0 $shadow-in !important
    border: none

.form-group
    margin-bottom: 1rem
    padding: 0 1em

.cursor-wait
    cursor: wait !important

.shake
    animation: $slow-animation-duration shake !important

.cursor-pointer
    cursor: pointer !important

.text-gradient
    background: linear-gradient(to $gradient-direction, $gradient-color-1, $gradient-color-2)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.white
    color: $white !important

.mb-170
    margin-bottom: 170px

.v-middle
    vertical-align: middle !important

.check-readed
    height: 30px
    width: 30px

.messages-area
    background-color: $white
    padding-top: 15px
    margin-top: 30px
    position: fixed
    bottom: 0
    border-top: 1px solid $gradient-color-1
    box-shadow: 0 0 10px 0 $gradient-color-1
    overflow-y: auto
    transition: $slow-animation-duration

.modal-body, .modal-header
    border-bottom: 0
    padding: 0

.modal-body
    overflow-y: auto
    overflow-x: hidden

.modal-header .close
    color: $white
    opacity: 1

.modal.show
    z-index: 999999
    padding-right: 0 !important
    overflow: hidden

.modal-dialog
    top: $middle-value
    transform: translateY(-$middle-value) !important

.modal-content
    color: $white
    background: linear-gradient(to $gradient-direction, $gradient-color-1, $gradient-color-2) !important
    box-shadow: 0 0 30px 5px #00000094
    padding: 1rem 2rem
    top: $middle-value
    transform: translateY(-$middle-value)
    overflow-y: auto
    max-height: 49em

.login-button
    background: linear-gradient(#babbbd, $white, #c2cbd0)
    border-radius: 2em
    font-weight: bold
    color: $gradient-color-1
    padding: 0.5em 1em
    width: 10em
    border: none
    box-shadow: 0 0 15px 0 #04385a73
    cursor: pointer

.login-button:disabled
    color: $gray

.login-button:disabled:hover
    color: $hover-gray

.login-button:hover
    color: $dark-blue

.login-button:focus 
    outline: none

.text-transform-capitalize
    text-transform: capitalize !important

.blue
    color: $gradient-color-1 !important

.copyIcon
    color: transparent !important
    font-size: 30px
    margin-left: 10px
    height: 30px
    width: 30px
    
    &:hover
        @extend .cursor-pointer
        color:rgb(134, 132, 132) !important

.copyButton
    @extend .cursor-pointer
    color:rgb(134, 132, 132) !important
    width: 15px
    margin-left: 10px

.current-screening
    background-color: rgba(0, 169, 111, 0.27) !important

.mt--10
    margin-top: -10px

    
.screening-area
    position: fixed
    background-color: #6EF618
    font-size: 25px
    width: 100%
    height: 290px
    bottom: 0
    cursor: none

    & .bottom
        position: absolute
        bottom: 20px
        display: flex
        justify-content: center
        width: 95%
        left: 50%
        transform: translateX(-50%)
    
    & .box
        position: relative
        background-color: $white
        max-height: 272px
        min-width: 900px
        max-width: 1400px
        width: auto
        height: auto
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)
        border-right: 10px solid
        text-align: left

    & .question
        padding: 5px 20px
        position: absolute
        left: -25px
        font-weight: 900
        font-size: 24pt
        color: $white
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5)

    & .text-area
        padding: 30px 20px 30px 50px
        word-break: break-word
        overflow: hidden
        max-height: 232px

    & #question p
        margin: 0

@keyframes pulse
    0%
        box-shadow: 0 0 0 0 #ff2f2fd1
    
    70%
        box-shadow: 0 0 0 8px #ff2f2f00
    
    100%
        box-shadow: 0 0 0 0 #ff2f2f00

::-webkit-scrollbar
    width: 0.7em
    height: 0.5em

::-webkit-scrollbar-button
    @extend .background-transparent
    width: 0
    height: 0

::-webkit-scrollbar-thumb
    @extend .cursor-pointer
    border: none
    border-radius: 2em
    background: linear-gradient($gradient-color-1, $gradient-color-2) !important

::-webkit-scrollbar-thumb:hover
  background: $white

::-webkit-scrollbar-thumb:active
  background: #000000

::-webkit-scrollbar-track
    @extend .cursor-pointer
    background: #f2f2f2
    border: 0.05em solid #b4ccce
    border-radius: 2em

::-webkit-scrollbar-track:hover
  background: #e4e4e4

::-webkit-scrollbar-track:active
  background: #d6d6d6

::-webkit-scrollbar-corner
    @extend .background-transparent

.tox.tox-silver-sink.tox-tinymce-aux,
.tox-notifications-container
    display: none !important

#card-analytics

    &.loading::before
        content: ' '
        position: absolute
        left: 0
        top: 0
        background-color: rgba(255, 255, 255, .9)
        width: 100%
        height: 100%
        align-items: center
        justify-content: center
        z-index: 2

    & .fa-spinner-third    
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        margin: -1.25rem
        color: #0b78c1
        z-index: 2