
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 100px 15px 25px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body .micontenedor h1{color:#006f5a!important;}
body .micontenedor .cls_per{color:#006f5a!important;font-size: 32px;}
body .micontenedor h4{font-size: 26px;}

#sortable {padding-left: 0px;}
#sortable li{list-style: none;padding-bottom: 10px;}
#sortable .input-group-addon input{ margin-right: 5px;}

#preguntas_sortable {padding-left: 0px;}
#preguntas_sortable li{list-style: none;padding-bottom: 10px;}
#preguntas_sortable .input-group-addon input{ margin-right: 5px;}


#respuestas_sortable {padding-left: 0px;}
#respuestas_sortable li{list-style: none;padding-bottom: 10px;}
#respuestas_sortable .input-group-addon input{ margin-right: 5px;}

.ftprin{  font-family:arial!important;}
.width80p{width:80%!important; }
.width20p{width:18%!important; }
.input50{height: 50px;}
.mar10lyr{margin-left: 10px; margin-right: 10px;}
.martop20{margin-top: 20px;height: 30px;}
.martoph7020{margin-top: 20px;height: 70px;}
.padbot30{padding-bottom: 30px!important;}


.progress{height: 34px!important;}
.progress-bar{line-height:20px!important;text-align:right;padding-top: 8px;}
.progress-bar span{padding-right: 15px;padding-left: 15px;font-size: 20px; }

.progress-bar-gris{background-color: #006f5a!important;}

.footer {
    background-image: url('../../assets/images/27/footer_respiracion_1024x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
}



.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1024x90.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;

    height: 90px;
    position: fixed;
  
}






@media screen and (max-width: 767px) {
 .navbar {
    background-image: url('../../assets/images/27/header_respiracion_578x90.png');
    background-repeat: no-repeat;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left; 
 
    top: 0;

    height: 90px;
    position: fixed;
  }

.footer {
    background-image: url('../../assets/images/27/footer_respiracion_578x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 60px;
    position: absolute;
    
    background-color: transparent;
}


 }
@media screen and (max-width: 768px)  and (orientation: landscape) {
 

.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1024x90.png');
    background-repeat: no-repeat;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left; 
 

    top: 0;
   /* height: 179px;*/
    height: 90px;
   position: fixed;
  }


.footer {
    background-image: url('../../assets/images/27/footer_respiracion_1024x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
}

}



@media screen  and (min-device-width: 320px)  and (max-device-height: 640px) 
  {
    .navbar {
    background-image: url('../../assets/images/27/header_respiracion_320x90.png');
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left; 
 
    top: 0;
   /* height: 179px;*/
    height: 90px;
   position: fixed;
  }


.footer {
    background-image: url('../../assets/images/27/footer_respiracion_320x60.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 60px;
    position: absolute;
    
    background-color: transparent;
}


}



@media screen  and (min-device-width: 320px)  and (max-device-height: 640px) and (orientation: landscape) 
  {
  .navbar {
    background-image: url('../../assets/images/27/header_respiracion_578x90.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left; 
    top: 0;
    height: 90px;
   position: fixed;
  }


.footer {
    background-image: url('../../assets/images/27/footer_respiracion_578x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 60px;
    position: absolute;
    
    background-color: transparent;
}


}





@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
     .navbar {
    background-image: url('../../assets/images/27/header_respiracion_768x90.png');
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left; 
 
    top: 0;
   /* height: 179px;*/
    height: 90px;
   position: fixed;
  }


.footer {
    background-image: url('../../assets/images/27/footer_respiracion_768x90.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
}


}






@media screen and (min-width: 900px) and (max-width: 1279px)
{ 
.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1024x90.png');
     background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }

.footer {
    background-image: url('../../assets/images/27/footer_respiracion_1024x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
}

}





@media screen and (min-width: 1280px) and (max-width: 1719px)
{ 
  .navbar {
    background-image: url('../../assets/images/27/header_respiracion_1400x90.png');
     background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }


.footer {
    background-image: url('../../assets/images/27/footer_respiracion_1400x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
}

}


@media screen and (min-width: 800px) and (max-width: 1280px) and (orientation: landscape) 
{ 
.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1024x90.png');
     background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }

  .footer {
    background-image: url('../../assets/images/27/footer_respiracion_1024x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
  }
}


@media screen and (min-width: 1720px) and (max-width: 1920px)
{ 
.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1800x90.png');
     background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }

  .footer {
    background-image: url('../../assets/images/27/footer_respiracion_1800x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
  }
}


@media screen and (min-width: 1921px) and (max-width: 2560px)
{ 
.navbar {
    background-image: url('../../assets/images/27/header_respiracion_1024x90.png');
     background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
      /*background-color: #C30049; */
    top: 0;
   /* height: 179px;*/
    height: 180px;
    position: absolute;
    width: 100%;
  }
  
   .footer {
    background-image: url('../../assets/images/27/footer_respiracion_1400x78.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    
    background-color: transparent;
  }


  body .container {
    padding-top: 180px!important;
  }
}





.footers3w {
    background-image: url('../../assets/images/footer_sw3.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    width: 100%;
}

.navbars3w {
    background-image: url('../../assets/images/header_sw3.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
    /*  background-color: #f5f5f5; */
    top: 0;
    height: 179px;
    position: absolute;
    width: 100%;
}
ol li{font-size: 24px;}

.flip-clock-wrapper{margin:0px!important;}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;

}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;

  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
} 


.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.wrapp-contador{padding-top: 90px;padding-bottom: 20px;}
.inwrapp-contador {width: 200px;margin:0 auto;}
.mar0{margin:0px;}

.padtop0 {padding-top: 0px;}

@keyframes fadeIn { 
  from { opacity: 0; } 
}


.animate-puedevotar {
  width: 250px; bottom: 3px; position: fixed; z-index: 50; left: 45%;font-size: 30px; color: #fff; display: none;
  left:0;
  right: 0;
  /* animation: fadeIn 1s infinite alternate;*/
}


.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}