.fs30{font-size: 30px;}

.textura {
    border-left: 4px solid aliceblue;
    background-color: #000;
    float: right;height: 50px;width: 30px;
      background-image: url(../images/ep_naturalwhite.png);
  background-repeat:no-repeat;
}

.textura:hover, #lado-wrapper:hover {
    cursor: pointer;
}

.envoltorio{
    width:310px;
    height:50px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
}

#menu-wrapper {
    background-color:#efeded;
    width:450px;
    height:50px;
    z-index: 10;
    left:0px;
    opacity: 0.3;
    float:left;
}    

#lado-wrapper {
    width:30px; 
    height:50px;
    background-color:#efeded;
    float:left;
    opacity: 0.1;
}

#menu-wrapper .checkbox {
    width: 80px;
    float: left;
}
#menu-wrapper .paginador {
    float: left;
    padding-top: 10px;
    padding-right:10px;
}

.mando_cuenta {
    cursor: pointer;  
    float: left;
}
.mando_cuenta span {
    width: 25px;
    float: left;
}
.mando_cuenta input {
    width: 40px;
    height: 30px;
    float: left;
}
.mando_cuenta div {
    font-size: 24px;
    padding: 15px 5px;
}
.flr {
    float:right;
}

.progress-ok {
    background-color: #F5F5F5 !important;
    border: 1px solid #666 !important;
}
.progress-ok.mostrar {
    background-color: #dcef19;
    border: 1px solid #c3d600 !important;
}

.progress-bar-ok {
    background-color: #CCC;
}
.progress-bar-ok.mostrar {
    background-color: #cbd300;
}

.progress-bar-gris, .progress-bar-ok {
    background-color:#CCC;
}

/* CONTENEDOR de PREGUNTA y RESPUESTAS para mostrar a la audiencia */
.micontenedor h1 {
    color: #7e002f !important;
    line-height: 1;
}

#container-pregunta .div-img-pregunta {
    float: left;
    width: 39%;
    margin-top: 20px;
}

#container-pregunta h1 {
    width: 100%;
}

#container-pregunta img, #container-respuestas img {
    width: 98%;
}

#container-respuestas {
    float: left;
    width: 100%;
}

#container-respuestas.a-4 {
    width: 60%;
}

/* respuesta a 4 */
/* Las respuestas a las preguntas organizadas en dos columnas y dos filas, cuadradas */
/*************************************************************************************/
li.respuesta-a-4 {
    list-style-position: outside;
    width: 43%;
    height: 250px;
    float: left;
}

li.respuesta-a-4 img {
    vertical-align: top;
    width: auto;
    max-width: 100%;
    max-height: 250px;
}

/* li con imagen para la lista de respuestas */
/* numeración igual que para respuesta_a_4 */
#container-respuestas li {
    list-style-position: outside;
    margin: 20px;
    line-height: 1.1em;
    position: relative;
/*    min-height: 80px;*/
    padding-bottom: 35px;
}

#container-respuestas li img {
    vertical-align: top;
    align-content: center;
    width: auto;
    max-width: 100%;
    max-height: 250px;
}



/* FIN CONTENEDOR de PREGUNTA y RESPUESTAS para mostrar a la audiencia */

.txt0gris {
    /*color:#777575!important;*/
    color:#666 !important;
}
.txt0ok {
    color:#666;
}
.txt0ok.mostrar {
    color:#FFF;
}

.multiquestion ul {
    list-style: none;
    padding:0; 
    margin:0;
}
.multiquestion li {
    padding-top: 5px;
}
.multiquestion li:before { 
    content: "• ";
    color:#7e002f;
    padding-left: 30px;
    font-size: 20px;
    padding-top: 5px;
}

.posth1 {
    font-size: 22px;
}

.pregunta-resultado {
    margin-left:30px; 
    display:inline-block; 
    width: 70%; 
    vertical-align: top;
}
.preguntas-resultado i {
    font-size: 20px;
}