
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.cls_per{
  font-size: 26px;
  color: #7e002f!important;
    margin-bottom: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 70px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#sortable {padding-left: 0px;}
#sortable li{list-style: none;padding-bottom: 10px;}
#sortable .input-group-addon input{ margin-right: 5px;}

#preguntas_sortable {padding-left: 0px;}
#preguntas_sortable li{list-style: none;padding-bottom: 10px;}
#preguntas_sortable .input-group-addon input{ margin-right: 5px;}


#respuestas_sortable {padding-left: 0px;}
#respuestas_sortable li{list-style: none;padding-bottom: 10px;}
#respuestas_sortable .input-group-addon input{ margin-right: 5px;}

.ftprin{  font-family:arial!important;}
.width80p{width:80%!important; }
.width20p{width:18%!important; }
.input50{height: 50px;}
.mar10lyr{margin-left: 10px; margin-right: 10px;}
.martop20{margin-top: 20px;height: 30px;}
.martop15{margin-top: 15px;}
.marbot5{margin-bottom: 5px;}
.martoph7020{margin-top: 20px;height: 70px;}
.padbot30{padding-bottom: 30px!important;}
.nobortop {border-top:none !important;}

#container-respuestas .progress {
    height: 34px!important;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: -5px;
    border: 1px solid #666 !important;
}

.progress-bar {
    line-height:20px!important;
    text-align:right;
    padding-top: 8px;
}
.progress-bar span {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}


.footer {
    /* background-image: url('../../assets/images/footer.png'); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: fixed;
    
    background-color: transparent;
}



.navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: left; 
    background-color: #dcdcdc;
    top: 0;

    height: 90px;
    position: fixed;
  
}

@media screen and (max-width: 767px) {
 .navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    
    background-position: left; 
    background-color: #dcdcdc;


    top: 0;
   
    height: 90px;
    position: fixed;
   
  }

 }


@media screen and (max-width: 768px)  and (orientation: landscape) {

.navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
  
    background-position: left; 
    background-color: #dcdcdc;
 

    top: 0;
    height: 90px;
    position: fixed;
  }
}



@media screen  and (min-device-width: 320px)  and (max-device-height: 640px) 
  {
    .navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    
    background-position: left; 
    background-color: #dcdcdc;
 
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: fixed;
  }

}



@media screen  and (min-device-width: 320px)  and (max-device-height: 640px) and (orientation: landscape) 
  {
  .navbar {

    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    background-position: left; 
    background-color: #dcdcdc;
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: fixed;
  }

}



@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
     .navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    
    background-position: left; 
    background-color: #dcdcdc;
 
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: fixed;
  }

}



@media screen and (min-width: 900px) and (max-width: 1440px)
{ 
.navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    background-position: left; 
    background-color: #dcdcdc;
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }
}


@media screen and (min-width: 1280px) and (max-width: 1920px)
{ 
.navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    background-position: left;
    background-color: #dcdcdc;
    top: 0;
   /* height: 179px;*/
    height: 90px;
    position: absolute;
    width: 100%;
  }
}


@media screen and (min-width: 1921px) and (max-width: 2560px)
{ 
.navbar {
    background-image: url('../../assets/images/logo-seimc.png');
    background-repeat: no-repeat;
    background-position: left; 
    background-color: #dcdcdc;
    top: 0;
   /* height: 179px;*/
    height: 180px;
    position: absolute;
    width: 100%;
  }


  body .container {
    padding-top: 180px!important;
  }
}





.footers3w {
    background-image: url('../../assets/images/footer_sw3.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    bottom: 0;
    height: 78px;
    position: absolute;
    width: 100%;
}

.navbars3w {
    background-image: url('../../assets/images/header_sw3.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left; 
    /*  background-color: #f5f5f5; */
    top: 0;
    height: 179px;
    position: absolute;
    width: 100%;
}
ol li{font-size: 24px;}

.flip-clock-wrapper{margin:0px!important;}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 10px 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;

}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #E96739;
  padding: 17px 0px;

  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

#codigo:focus{border:1px solid  #E96739;}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #f9541d;

  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
} 


.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.wrapp-contador {
    padding-top: 100px;
    padding-bottom: 20px;}
.inwrapp-contador {
    width: 200px;
    margin:0 auto;
}
.mar0 {
    margin:0px;
}

.padtop0 {padding-top: 0px;}

.nopad-left {
    padding-left: 0;
}


@keyframes fadeIn { 
  from { opacity: 0; } 
}


.animate-puedevotar {
  width: 250px; bottom: 3px; position: fixed; z-index: 50; left: 45%;font-size: 30px; color: #fff; display: none;
  left:0;
  right: 0;
   /* animation: fadeIn 1s infinite alternate; */
}


.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


input[type=checkbox]{
  width: 28px;
}

#usuarios_sortable {
    padding-left: 0px;
}

#usuarios_sortable li {
    list-style: none;
    padding-bottom: 10px;
}

/* audio player admin */
audio {
    width: 230px;
}

/* contenedor estilo personalizado*/
.container-personalizar-estilo {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.zoomable {
    position: relative;
    width:90%;
    transition: all 0.15s ease-in-out;
    cursor: zoom-in;
    margin-bottom: 0;
    z-index: 1;
}

.zoomable:hover {
    transform: scale(3);
    z-index: 2000 !important;
}

.musica {
    display: block !important;
}

#eliminar-logo-head, #eliminar-logo-foot, #vaciar-logo-head, #vaciar-logo-foot, eliminar-imagen-pregunta {
    cursor: pointer;
    font-size:14px;
}

/* para la tabla de estadísticas */
/*********************************/
th.dt-center, td.dt-center {
    text-align: center;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.dataTable-border {
    border: 2px solid #DDD !important;
}

#rankingActual th, #rankingActual td {
    font-size: 22px;
}

#detalle-preguntas {
    cursor: pointer;
}

th.prg, td.prg {
    display:none;
    white-space: nowrap;
}

th.prg.primera, td.prg.primera {
    border-left: 3px solid #CCC;
}

/* barra de progreso subida de ficheros */
/****************************************/
.kv-upload-progress .progress-bar {
    padding-right: 10px;
    height: 100% !important;
    line-height: 7px !important;
}

/* botones activados para marcar imagen/musica existente */
.btn.btn-activado.active {
    background-color: #011f39;
    color: khaki;
}

/* imagen de preguntas y respuestas */
#imagen_pregunta_modal img, #imagen_respuesta_modal img {
    width:90%;
}

.lista-respuestas {
    display: inline;
}

.lista-respuestas img {
    max-width: 70px;
    max-height: 70px;
    background-color: #FFF;
    border-radius: 3px;
    padding: 1px;
    display: inline !important;
}

/* lista de participantes */
.participante {
    padding: 10px 30px;
    background-color: #b2dba1;
    color: black;
    font-weight: bold;
    width: auto;
    float:left;
    margin: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
}

/* el tamaño de las modales es 600px; */
/* un poco estrecho para los datos del evento */
.modal-dialog.modal-evento {
    width: 700px;
}
h1, .h1 {
  font-size: 36px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.pull-right {
  float: right !important;
}
.oculto {
  display: none !important;
}
.boton-descargar {
    color: #fff !important;
    background: #337ab7 !important;
    border-color: #2e6da4 !important;
}