.fs30{font-size: 30px;}

.textura{
    border-left: 4px solid aliceblue;
    background-color: #000;
    float: right;height: 50px;width: 30px;
      background-image: url(../images/ep_naturalwhite.png);
  background-repeat:no-repeat;
}
.textura:hover, #lado-wrapper:hover{cursor: pointer;}
/*html{ cursor:url(../assets/images/punto.gif),url(myBall.cur),auto!important;}*/
    .envoltorio{
        width:310px;
        height:50px;
        position: fixed;
        bottom: 0px;
        z-index: 10;
    }

  #menu-wrapper {
    background-color:#efeded;
    width:400px;
    height:50px;
    z-index: 10;
    left:0px;
    opacity: 0.1;
    float:left;
  }    

  #lado-wrapper{ width:30px; 
    height:50px;
    background-color:#efeded;
    float:left;
    opacity: 0.1;
}


#menu-wrapper .checkbox{width: 80px;float: left;}
#menu-wrapper .paginador{float: left;padding-top: 10px;padding-right:10px;}

.mando_cuenta{
    cursor: pointer;  
   
    float: left;
   /* 
 border-style: solid;
   padding: 15px;*/
}
.mando_cuenta span{
    width: 25px;
    float: left;
}
.mando_cuenta input{width: 40px; height: 30px; float: left;}
.mando_cuenta div{font-size: 24px;padding: 15px 5px;}
.flr{float:right;}

.progress-bar-ok{
  background-color:#c30049;
}

.progress-bar-gris{
  background-color:#777575;
}

.micontenedor h1{color:#7e002f!important;}

.txt0gris{color:#777575!important;}
.txt0ok{color:#c30049!important;}