<template>
    <div class="row p-5">
        <div class="col-12 mb-2">
            <div class="card card-gradient shadow card-body" :class="{ 'loading': updating }" id="card-analytics">
                <h3 class="font-weight-bold">Datos del Webinar</h3>

                <p class="mb-0"><b>Fecha:</b> <span v-if="streaming">{{ streaming.date }}</span></p>
                <p class="mb-0"><b>Horario:</b> <span v-if="streaming">{{ streaming.start }} - {{ streaming.end }}</span></p>
                <p class="mb-0"><b>Rango actual:</b> <span v-if="streaming">{{ streaming.current_range }}</span></p>
                <p class="mb-0"><b>Fecha de último lanzamiento:</b> <span v-if="streaming">{{ streaming.release_date }}</span></p>

                <hr>

                <div class="row align-items-center">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <b>Última actualización de datos:</b> <span>{{ formattedLastUpdate }}</span>
                    </div>

                    <div class="col-12 col-md-3 text-right">
                        <button class="btn btn-sm btn-primary btn-block mr-0 ml-auto" @click="loadData" :disabled="updating"><i class="fas fa-sync mr-2"></i> Actualizar</button>
                    </div>
                </div>

                <i class="fad fa-spin fa-spinner-third fa-3x" v-if="updating"></i>
            </div>
        </div>
        
        <div class="col-12" v-if="streaming">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-user-plus" :value="streaming.new_users" type="new_users">Nuevos registrados</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-users" :value="streaming.online_users" :downloadable="false" type="online_users">Conectados ahora</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-user-chart" :value="streaming.total_users" type="total_online_users">Conectados totales</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-question-circle" :value="streaming.question_count" type="questions">Preguntas hechas</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-projector" :value="streaming.screened_questions" :downloadable="false" type="screened_questions">Preguntas proyectadas</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-tasks" :value="streaming.answered_questions" :downloadable="false" type="answered_questions">Preguntas contestadas</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-money-check-edit" :value="streaming.edited_questions" :downloadable="false" type="edited_questions">Preguntas corregidas</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-address-book" :value="streaming.user_count" type="users">Registrados totales</analytic-box>
                </div>

                <div class="col-12 col-md-6 col-lg-4 my-2">
                    <analytic-box icon="fa-user-check" :value="streaming.allow_newsletters" type="allow_newsletters">Aceptan publicar</analytic-box>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import AnalyticBoxComponent from '../components/AnalyticBox.vue'
import Streaming from '../../ts/models/Streaming'
import axios from 'axios'

@Component({
    components: {
        'analytic-box': AnalyticBoxComponent
    }
})
export default class Analytics extends Vue {
    private lastUpdate: Date | null = null
    public updating: boolean = false
    public streaming: Streaming | null = null

    get formattedLastUpdate(): string {
        return this.lastUpdate ? 
            `${this.format(this.lastUpdate.getDate())}-${this.format(this.lastUpdate.getMonth() + 1)}-${this.lastUpdate.getFullYear()} ${this.format(this.lastUpdate.getHours())}:${this.format(this.lastUpdate.getMinutes())}:${this.format(this.lastUpdate.getSeconds())}` :
            ''
    }

    public loadData(): void {
        this.updating = true

        axios.get('/api/preguntas/analytics')
            .then(({ data }) => {
                if (!data) {
                    return
                }

                this.lastUpdate = new Date()
                this.streaming = data
            })
            .finally(() => this.updating = false)
    }

    private format = (value: number): string => String(value).padStart(2, '0')

    mounted(): void {
        this.loadData()
    }
}
</script>