<template>
    <div class="mid">
        <div class="card shadow" :class="{ 'cursor-wait': loggingIn, 'shake': (errors && !loggingIn) }">
            <h4 class="card-body mb-0 title text-transform-uppercase bold">Acceso a preguntas</h4>

            <div class="gradient-divider"></div>

            <div class="card-body">
                <form class="form-group w-100" @submit.prevent="login">
                    <div class="w-100">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" :class="{ 'is-invalid': hasErrors('username') }" v-model="username" placeholder="Escribe el nombre de usuario" :disabled="loggingIn">
                        <div class="invalid-feedback" v-if="hasErrors('username')">
                            <span v-for="error in errors.username" :key="error">* {{ error }}<br /></span>
                        </div>
                    </div>

                    <div class="w-100 mt-3">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" :class="{ 'is-invalid': hasErrors('password') }" v-model="password" placeholder="Escribe la contraseña" :disabled="loggingIn">
                        <div class="invalid-feedback" v-if="hasErrors('password')">
                            <span v-for="error in errors.password" :key="error">* {{ error }}<br /></span>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-gradient mt-4">
                        <i class="fas fa-spin fa-spinner" v-if="loggingIn"></i>
                        <span v-else>Entrar</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import Admin from '../../ts/models/Admin'
import axios from 'axios'

const User = namespace('User')

@Component
export default class Login extends Vue {
    @User.Action
    private updateAdmin!: (payload: Admin | null) => void

    public username: string | null = null
    public password: string | null = null
    public errors: { [key: string]: any } | null = null
    public loggingIn: boolean = false

    public hasErrors(label: string): boolean {
        return this.errors?.[label] || false
    }

    public login() {
        this.loggingIn = true

        axios.post('/api/preguntas/auth/login', {
            username: this.username,
            password: this.password
        })
        .then(({ data }) => {
            if (!data.success) {
                this.errors = data.errors
                return
            } else if (!data['user']) {
                this.errors = {
                    username: 'No se ha podido iniciar sesión'
                }

                return
            }

            this.updateAdmin({
                id: data['user']?.['idusuario'],
                name: data['user']?.['usuario'],
                role: data['user']?.['tipo']
            })
            
            this.$router.push({ name: 'questions'})
        })
        .finally(() => this.loggingIn = false)
    }
}
</script>