<template>
    <div>
        <div class="table mb-170" :style="(hasRole('editor') ? 'margin-bottom:30em!important' : '')">
            <div class="middle" v-if="(!questions || questions.length < 1)">
                <i class="fad fa-spin fa-spinner-third fa-10x" v-if="loadingQuestions"></i>
                <h1 v-else>Aún no hay preguntas para mostrar</h1>
            </div>
            <table class="table table-striped">
                <tbody>
                    <question-box v-for="(question, index) in questions" :key="question.id" :index="index" :question="question" @editing-question="toggleEditingQuestion" />
                </tbody>
            </table>
        </div>
        
        <messages v-if="hasMessagesBox" />

        <screening v-if="hasRole('editor') && isScreeningShown" />
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { hasRole } from '../../ts/helpers'
import QuestionBoxComponent from '../components/QuestionBox.vue'
import ScreeningComponent from '../components/Screening.vue'
import MessagesComponent from '../components/Messages.vue'
import Question from '../../ts/models/Question'
import axios from 'axios'

const Site = namespace('Site')

@Component({
    components: {
        'question-box': QuestionBoxComponent,
        messages: MessagesComponent,
        screening:  ScreeningComponent,
    }
})
export default class Questions extends Vue {
    @Site.Getter
    public isScreeningShown!: boolean

    @Site.Action
    private updateCurrentScreeningQuestion!: (payload: Question | null) => void

    private _interval: number | null = null
    private _isAnyQuestionInEdition: boolean = false
    public loadingQuestions: boolean = true
    public questions: Question[] = []

    get hasMessagesBox(): boolean {
        return this.hasRole('moderator') || this.hasRole('administrator')
    }

    public hasRole = (type: string): boolean => hasRole(type)

    public toggleEditingQuestion(status: boolean): void {
        this._isAnyQuestionInEdition = status
    }

    public loadQuestions(): void {
        axios.get('/api/preguntas/questions')
            .then(({ data }) => {
                if (!data) {
                    return
                }

                this.questions = []
                for (let i = 0; i < data.length; i++) {
                    const question = data[i]
                    
                    this.questions.push({
                        id: question['idpregunta'],
                        user_id: question['idusuariogesida'],
                        text: question['pregunta'],
                        created_at: question['fecha'],
                        status: question['estado'],
                        order: question['orden'],
                        edited: question['corregido'],
                        screening_date: question['hora_proyectar'],
                        user: question['user'] ? {
                            id: question['user']['id'],
                            full_name: `${question['user']['name']} ${question['user']['surname']}`,
                            email: question['user']['email']
                        } : null,
                        hospitales: question['hospitales'] === '1'
                    })
                }

                if (this.hasRole('editor')) {
                    let screeningQuestion: Question | null = null

                    this.questions.forEach((question: Question) => {
                        if (!question.screening_date) {
                            return
                        }

                        let screeningQuestionTime: number = new Date(screeningQuestion?.screening_date || '').getTime()
                        let questionTime: number = new Date(question.screening_date).getTime()

                        if (screeningQuestion && screeningQuestionTime > questionTime) {
                            return
                        }

                        screeningQuestion = question
                    })

                    this.updateCurrentScreeningQuestion(screeningQuestion)
                }
            })
            .finally(() => this.loadingQuestions = false)
    }

    mounted(): void {
        this.loadQuestions()

        this._interval = setInterval(() => {
            if (this._isAnyQuestionInEdition) {
                return
            }

            this.loadQuestions()
        }, 5000)
    }

    beforeDestroy(): void {
        if (!this._interval) {
            return
        }

        clearInterval(this._interval)
    }
}
</script>