/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-web
 */

body {
    /* background-image: url('../images/fondo_home.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
}

body.no-bg {
    background-image: none;
}

img.button {
    cursor: pointer;
}

img.button:hover {
    opacity: 0.9;
}

.index-view {
    position: relative;
    height: 100vh;
}

.sponsors {
    background: url('../images/puntos_abajo1.png') no-repeat 30% 25px, url('../images/puntos_abajo2.png') no-repeat 70% 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

footer {
    width: 100%;
    color: #fff;
    background-color: #454545;
    padding: 20px;
}

footer a {
    text-decoration: underline;
    color: #fff;
}

footer a:hover {
    color: #fff;
    opacity: .8;
}

.modal-backdrop.show {
    opacity: .7;
    background-color: #fff;
}

.modal-content {
    border: none;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
}

button.close-modal {
    font-size: 2em;
    font-weight: 900;
    color: #000;
}

button:focus {
    outline: none;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.g-recaptcha.is-invalid {
    filter: drop-shadow(0 0 2px red);
}

#logout-button {
    right: 5px;
    top: 15px;
}

.header {
    position: relative;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.text-light-green {
    color: #41a96a;
}

.text-dark-green {
    color: #2b4649;
}

.line-height-1 {
    line-height: 1.1em;
}

#cookie-box {
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    z-index: 1;
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

i.cursor-pointer:hover {
    opacity: 0.6;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
    user-drag: none;
}

a.disabled img {
    cursor: not-allowed;
    opacity: 0.5;
}

.bg-gray {
    background-color: #e0e0e0;
}

button:disabled {
    cursor: not-allowed;
}

@media (max-width: 1200px) {
    .index-view {
        height: 75vh;
    }
}

@media (min-width: 992px) {
    .position-lg-absolute {
        position: absolute;
    }
}

@media (max-width: 576px) {
    .index-view {
        height: 45vh;
    }

    .sponsors {
        background: none
    }
}

@media (min-width: 576px) {
    .fs-sm-12 {
        font-size: 12px
    }

    .fs-sm-14 {
        font-size: 14px
    }

    .w-sm-auto {
        width: auto !important;
    }
}