/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-web
 */

.h-separator {
    width: 80%;
    height: 2px;
    background-color: #e77d00;
}

.bullet-before::before {
    color: #42ae50;
    content: ' ';
    display: inline-table;
    width: 0.4em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #42ae50;
    height: 0.4em;
    padding: 0px;
    vertical-align: middle;
}

@media (min-width: 992px) {
    .v-lg-separator {
        width: 2px;
        height: 50%;
        background-color: #e77d00;
    }
}