/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-web
 */

.source-area {
	padding: 56.25% 0 0 0;
	position: relative;
}

.source-area iframe, .source-area .content-imagen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.source-area#area-chat {
    padding: 75% 0 0 0;
}

.content-imagen img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    margin: 0;
    border: 0;
    height: 1.5px;
    background-color: #2b4649;
}

.question-box {
    background: linear-gradient(to left, rgba(216, 216, 216, 0.30196078431372547), rgba(153, 153, 153, 0.30196078431372547));
    padding: 10px 15px;
    border-radius: 2em;
}

.question-box.no-bg {
    background: none;
}

#edit-question-area {
    display: none;
}

.btn-send-vote {
    border-radius: 1em !important;
    font-size: 16px;
    padding: 5px 40px;
    background: linear-gradient(to left, #25463d, #40a669);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}

.btn-send-vote:not(:disabled):hover {
    opacity: 0.9;
}

.btn-vote-option {
    /* border: 2px solid green;
    border-radius: 1em;
    width: 100%; */
    padding: 5px;
    color: #fff;
    font-size: 13px;
}

/* .select-vote:not(.disabled):not(.selected):hover {
    background-color: rgba(169, 219, 190, 0.6);
} */

.select-vote.not-selected {
    opacity: .7;
    border-color: #c7c7c7;
    background-color: #e8e8e8;
    color: #8e8e8e;
}

.loading-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #poll, #poll-results {
    min-height: 400px;
} */

/* .question-col, .results-col {
    overflow-y: auto;
    position: absolute;
    top: 0;
    height: 60%;
} */

#vote-title {
    overflow-y: auto;
    max-height: 150px;
}

#vote-result-title {
    overflow-y: auto;
    max-height: 183px;
}

/* .voting-actions-col {
    height: 37%;
} */

.btn-vote-option.disabled {
    cursor: not-allowed;
    opacity: .7;
    border-color: #c7c7c7;
    background-color: #e8e8e8;
    color: #8e8e8e;
}

/* .btn-vote-option-dismiss {
    border-color: #863737;
}

.btn-vote-option-abstinence {
    border-color: #969696;
} */

/* .btn-vote-option-dismiss:not(.disabled):not(.selected):hover {
    background-color: rgba(134, 55, 55, 0.6);
}

.btn-vote-option-abstinence:not(.disabled):not(.selected):hover {
    background-color: rgba(150, 150, 150, 0.6);
} */

/* .btn-vote-option-dismiss.selected {
    background-color: #863737;
}

.btn-vote-option-abstinence.selected {
    background-color: #969696;
} */

.voting-result-progress {
    height: 20px;
}

.bg-dismiss {
    background-color: #863737;
}

.bg-abstinence {
    background-color: #969696;
}

.bg-lightgray {
    background-color: #f4f4f4;
}

/* COL-SM */
@media (min-width: 768px) {
	/* .source-area {
		padding: 38.25% 0 0 0;
	} */

	.source-area.no-chat {
		padding: 56.25% 0 0 0 !important;
    }
    
    /* .question-col {
        height: 70%;
    } */

    /* .voting-actions-col {
        height: 21%;
    } */

    /* #poll, #poll-results {
        min-height: 200px;
    } */
}

/* COL-LG */
@media (min-width: 992px) {
    .source-area {
        padding: 38.25% 0 0 0;
	}
    
	.source-area.no-chat {
        padding: 56.25% 0 0 0 !important;
    }

    #vote-title {
        max-height: 154px;
    }
}

@media (min-width: 1200px) {
    #vote-title {
        max-height: 301px;
    }
    
    #vote-result-title {
        max-height: 252px;
    }
}