<template>
    <div>
        <menu-component />
        <router-view></router-view>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import MenuComponent from './components/Menu.vue'
import Setting from '../ts/models/Setting'
import axios from 'axios'

const Site = namespace('Site')

@Component({
    components: {
        'menu-component': MenuComponent
    }
})
export default class Layout extends Vue {
    @Site.Action
    private updateSettings!: (payload: Setting | null) => void

    mounted(): void {
        axios.get('/api/preguntas/settings')
            .then(({ data }) => this.updateSettings(data))
    }
}
</script>