<template>
    <div class="card card-gradient shadow">
        <div class="card-body text-center">
            <i class="far fa-5x my-3" :class="icon"></i>

            <h3 class="font-weight-bold">
                <number-animation :value="value" />
            </h3>

            <p class="text-uppercase">
                <slot />
            </p>

            <button class="btn btn-gradient px-5" :disabled="downloading" @click="download" v-if="downloadable">
                <i class="fas fa-spin fa-spinner-third" v-if="downloading"></i>
                
                <span v-else>
                    <i class="fas fa-file-excel mr-2"></i> Excel
                </span>
            </button>

            <div class="bg-transparent py-1 border-0" v-else>&nbsp;</div>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue, Prop } from 'vue-property-decorator'
import NumberAnimationComponent from './NumberAnimation.vue'
import axios from 'axios'
import xlsx from 'xlsx'

@Component({
    components: {
        'number-animation': NumberAnimationComponent
    }
})
export default class AnalyticBox extends Vue {
    @Prop({ required: true, type: String })
    public icon!: string

    @Prop({ required: true, type: Number })
    public value!: number

    @Prop({ type: Boolean, default: true })
    public downloadable!: boolean
    
    @Prop({ required: true, type: String })
    public type!: string

    public downloading: boolean = false

    public download(): void {
        this.downloading = true

        if (!this.type) {
            alert('No se han encontrado el excel solicitado')
            return
        }

        axios.get(`/api/preguntas/analytics/export/${this.type}`)
            .then(({ data }) => {
                if (!data || (!data.values || data.values.length <= 0)) {
                    alert('¡No se han encontrado resultados para exportar!')
                    return
                }

                let table = document.createElement('table')

                const keys = data.keys.map((value: string) => `<th>${value}</th>`)
                const values = data.values.map((value: { [key: string]: any }) => {
                    const item = data.keys.map((key: string) => `<td>${value[key] || ''}</td>`)

                    return `<tr>${item}</tr>`
                })

                table.innerHTML = `<thead><tr>${keys}</tr></thead><tbody>${values}</tbody>`
                document.body.appendChild(table)

                const book = xlsx.utils.table_to_book(table, { raw: true })
                xlsx.writeFile(book, `${this.type}_${Date.now()}.xlsx`)

                document.body.removeChild(table)
        })
        .catch(() => alert('¡No se han encontrado resultados para exportar!'))
        .finally(() => this.downloading = false)
    }
}
</script>