<template>
    <nav class="navbar navbar-expand-lg navbar-dark gradient" :style="(($route.name == 'questions' && hasRole('editor')) ? { position: 'sticky !important', top: 0 } : '')"><!-- sticky-top -->
        <b class="navbar-brand text-transform-uppercase" v-if="$route.name == 'analytics'">Estadísticas</b>
        <div v-else>
            <b class="navbar-brand text-transform-uppercase">{{ title }}</b>

            <button @click="toggleScreening" target="_blank" class="btn btn-light btn-sm text-transform-uppercase bold" v-show="hasRole('editor')">{{ (isScreeningShown ? 'Cerrar' : 'Abrir') }} proyección</button>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" @click="toggleMenuVisibility">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" :class="{ show: isMenuShown }" id="navbarNav">
            <ul class="navbar-nav p-0">
                <li class="nav-item q" v-show="admin">
                    <a class="nav-link cursor-pointer" @click="logout">
                        <i class="fas fa-sign-out-alt fz-1-2"></i> Salir
                    </a>
                </li>
                
                <li class="nav-item q">
                    <a class="nav-link" href="/streaming" target="_blank">
                        <i class="fas fa-video fz-1-2"></i> Streaming
                    </a>
                </li>
                
                <li class="nav-item q" v-show="hasRole('editor')" v-if="$route.name == 'questions'">
                    <router-link :to="{ name: 'analytics' }" class="nav-link">
                        <i class="fas fa-analytics fz-1-2"></i> Estadísticas
                    </router-link>
                </li>
                
                <li class="nav-item q" v-show="hasRole('editor')" v-else>
                    <router-link :to="{ name: 'questions' }" class="nav-link">
                        Volver a preguntas <i class="fas fa-long-arrow-left fz-1-2"></i>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { hasRole } from '../../ts/helpers'
import Admin from '../../ts/models/Admin'
import axios from 'axios'

const Site = namespace('Site')
const User = namespace('User')

@Component
export default class Menu extends Vue {
    @User.Getter
    public admin!: Admin | null

    @Site.Getter
    public isScreeningShown!: boolean

    @User.Action
    private updateAdmin!: (payload: Admin | null) => void

    @Site.Action
    private updateScreeningVisibility!: (status: boolean) => void

    public isMenuShown: boolean = false

    get title(): string {
        return this.admin?.name || 'Inicio'
    }

    public hasRole = (type: string): boolean => hasRole(type)

    public logout(): void {
        axios.post('/api/preguntas/auth/logout')
            .then(() => {
                this.updateAdmin(null)
                this.$router.push({ name: 'login' })
            })
    }

    public toggleScreening(): void {
        this.updateScreeningVisibility(!this.isScreeningShown)
    }

    public toggleMenuVisibility(): void {
        this.isMenuShown = !this.isMenuShown
    }
}
</script>