<template>
    <div>
        <div class="messages-area container-fluid w-100" :class="(isExpanded ? 'height80' : 'raise-height')" @click="toggleMessageBox">
            <div class="row mb-3">
                <div class="col-sm-8 left mb-4">
                    <h3 class="text-uppercase font-weight-bold">Mensajes <sup class="unread-messages" v-if="newMessagesCount > 0">{{ newMessagesCount }}</sup></h3>
                </div>

                <div class="col-sm-3 mb-4" v-if="hasRole('administrator')">
                    <button type="button" class="btn btn-block btn-gradient pl-5 pr-5" @click.stop="toggleSendMessageModal">Enviar mensaje</button>
                </div>

                <div class="mb-4 arrow-area">
                    <i id="arrow-up" class="fa fa-chevron-circle-up fa-2x text-gradient cursor-pointer" :class="{ 'flipped': isExpanded }"></i>
                </div>

                <div class="gradient-divider"></div>
            </div>

            <div v-if="messages.length">
                <p v-for="message in messages" :key="message.id">
                    <b class="text-uppercase">{{ formatTime(message.created_at) }} {{ message.sender.name }}</b> {{ message.text }}
                </p>
            </div>
            <p class="text-center" v-else>No hay mensajes</p>

        </div>

        <send-message :show="isSendMessageModalShown" v-if="hasRole('administrator')" @close="toggleSendMessageModal" @add-message="addMessage" />
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { hasRole } from '../../ts/helpers'
import SendMessageModal from '../modals/SendMessage.vue'
import Message from '../../ts/models/Message'
import axios from 'axios'
import moment from 'moment'

@Component({
    components: {
        'send-message': SendMessageModal
    }
})
export default class Messages extends Vue {
    private _interval: number | null = null
    private messagesCount: number = 0
    public messages: Message[] = []
    public isExpanded: boolean = false
    public isSendMessageModalShown: boolean = false

    get newMessagesCount(): number {
        if (this.messagesCount > 0 && this.isExpanded) {
            this.messagesCount = 0
        }

        return this.messagesCount
    }

    public hasRole = (type: string): boolean => hasRole(type)

    public formatTime(time: string): string {
        return moment(time).format('HH:mm')
    }

    public loadMessages(): void {
        axios.get('/api/preguntas/messages')
            .then(({ data }) => {
                if (!data) {
                    return
                }

                if ((data.length - this.messages.length) > 0) {
                    this.messagesCount = (data.length - this.messages.length)
                }

                this.messages = []
                for (let i = 0; i < data.length; i++) {
                    this.addMessage(data[i])
                }
            })
    }

    public addMessage(payload: { [key: string]: any }, fromModal: boolean = false): void {
        this.messages = [
            ...(!fromModal ? this.messages : []),
            {
                id: payload['id'],
                text: payload['texto'],
                created_at: payload['fecha'],
                sender: {
                    id: payload['sender']['idusuario'],
                    name: payload['sender']['usuario'],
                    role: payload['sender']['tipo']
                }
            },
            ...(fromModal ? this.messages : [])
        ]

        if (fromModal) {
            this.toggleSendMessageModal()
        }
    }

    public toggleSendMessageModal(): void {
        this.isSendMessageModalShown = !this.isSendMessageModalShown
    }

    public toggleMessageBox(): void {
        this.isExpanded = !this.isExpanded
    }

    mounted(): void {
        this.loadMessages()

        this._interval = setInterval(this.loadMessages, 5000)
    }

    beforeDestroy(): void {
        if (!this._interval) {
            return
        }

        clearInterval(this._interval)
    }
}
</script>