<template>
    <span>{{ format(result) }}</span>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component
export default class NumberAnimation extends Vue {
    @Prop({ required: true, type: Number })
    public value!: number

    @Watch('value')
    onPropertyChanged(value: number): void {
        this.animation(value)
    }

    private interval: number | null = null
    private duration: number = 500
    private frameDuration: number = 1000 / 60
    private totalFrames: number = Math.round(this.duration / this.frameDuration)
    public result: number = 0

    public animation(to: number): void {
        let currentFrame = 0

        this.interval = setInterval(() => {
            currentFrame++
            
            const progress = this.easeOutQuad(currentFrame / this.totalFrames)

            this.result = Math.round(to * progress)
            
            if (currentFrame === this.totalFrames) {
                clearInterval(this.interval || 0)
            }
        }, this.frameDuration)
    }
    
    public format = (value: number): string => value?.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') || '0'

    private easeOutQuad = (value: number): number => value * (2 - value)

    mounted(): void {
        this.animation(this.value)
    }
}
</script>