<template>
    <tr @mouseout="isCopyButtonShown = false" @mouseover="isCopyButtonShown = true" :class="{ 'current-screening': (hasRole('editor') && isQuestionInScreening), 'blue-bg': (!hasRole('editor') && checked) }">
        <td :width="(!hasRole('editor') ? '100%' : '90%')">
            <h4 class="font-weight-bold">
                <span class="text-gradient">#{{ (index + 1) }}&nbsp;</span> {{ question.user_id }} {{ (question.user ? `- ${question.user.full_name}` : '') }}
            </h4>

            <question-label :id="`question_${question.id}`" :show-copy-button="isCopyButtonShown" :text="question.text" :can-copy="canCopy" :edited="question.edited || ''" @editing-question="toggleEditingQuestion" @update-question="update" />
        </td>

        <td class="align-middle" :width="(hasRole('editor') ? '5%': '')">
            <input type="checkbox" class="check-readed right" :checked="checked" :disabled="isCheckboxDisabled" @click="updateStatus" />
        </td>
        
        <td class="align-middle" width="5%" v-show="hasRole('editor')">
            <button class="btn btn-lg btn-block btn-gradient mt--10" @click="updateStatus(false)">
                <i class="fas fa-video"></i>
            </button>
        </td>
    </tr>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue, Prop } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import { hasRole } from '../../ts/helpers'
import QuestionLabelComponent from './QuestionLabel.vue'
import QuestionStatus from '../../ts/types/QuestionStatus'
import Question from '../../ts/models/Question'
import Admin from '../../ts/models/Admin'
import axios from 'axios'
import Roles from '../../ts/types/Roles'

const Site = namespace('Site')
const User = namespace('User')

@Component({
    components: {
        'question-label': QuestionLabelComponent
    }
})
export default class QuestionBox extends Vue {
    @Prop({ required: true, type: Number })
    public index!: number

    @Prop({ required: true, type: Object })
    public question!: Question

    @Site.Getter
    public currentScreeningQuestion!: Question | null

    @User.Getter
    public admin!: Admin | null

    @Site.Action
    private setCurrentScreeningQuestion!: (payload: Question | null) => void

    public isCopyButtonShown: boolean = false
    
    get checked(): boolean {
        switch (this.admin?.role) {
            case Roles.EDITOR: {
                return !isNaN(Date.parse(this.question.screening_date))
            }

            case Roles.MODERATOR: {
                return this.isQuestionAnswered
            }

            case Roles.ADMINISTRATOR: {
                return this.question.status >= QuestionStatus.SENT
            }

            case Roles.SUPERVISOR: {
                return this.question.status !== QuestionStatus.NEEDS_APPROVAL
            }

            default: {
                return false;
            }
        }
    }

    get isCheckboxDisabled(): boolean {
        switch (this.admin?.role) {
            case Roles.ADMINISTRATOR: {
                return this.isQuestionAnswered
            }

            case Roles.SUPERVISOR: {
                return this.question.status >= QuestionStatus.SENT
            }

            default: {
                return false;
            }
        }
    }

    get canCopy(): boolean {
        return this.hasRole('moderator')
    }

    get isQuestionInScreening(): boolean {
        return this.currentScreeningQuestion?.id === this.question.id
    }

    get isQuestionAnswered(): boolean {
        return this.question.status === QuestionStatus.ANSWERED
    }

    public hasRole = (type: string): boolean => hasRole(type)

    public updateStatus(fromCheckbox: boolean = true): void {
        if (this.isCheckboxDisabled || this.hasRole('editor') && fromCheckbox) {
            return
        }

        axios.put(`/api/preguntas/questions/${this.question.id}/update/status`)
        .then(({ data }) => {
            if (!data) {
                return
            }

            if (this.hasRole('editor')) {
                this.question.screening_date = data.hora_proyectar
                this.setCurrentScreeningQuestion(this.question)
            } else { // Administrator | Moderator | Supervisor
                this.question.status = data.estado
            }
        })
    }

    public update(text: string, callback: () => void): void {
        if (!this.hasRole('editor')) {
            return
        }

        this.toggleEditingQuestion(false)

        axios.put(`/api/preguntas/questions/${this.question.id}/update`, `message=${encodeURIComponent(text)}`)
        .then(({ data }) => {
            if (!data) {
                return
            }

            this.question.edited = data.corregido
        })
        .finally(callback)
    }

    public toggleEditingQuestion(status: boolean): void {
        this.$emit('editing-question', status)
    }
}
</script>