<template>
    <p>
        <span :id="hasRole('editor') ? null : id">
            <audio controls :src="`/storage/${text}`" class="w-100" v-if="isAudio"></audio>

            <div v-else>
                <div v-if="hasRole('editor')">
                    <i class="fas fa-spin fa-spinner px-1" v-if="updating"></i>

                    <span :title="`[ORIGINAL]: ${text}`" @mouseup="edit" v-else-if="!editing" v-html="newText"></span>

                    <editor :id="id" v-model="editedQuestion" :initialValue="newText" :init="editorSettings" v-else />
                </div>

                <span v-html="newText" v-else-if="hasRole('administrator')"></span>
                
                <span v-else>{{ text }}</span> <!-- Supervisor | Moderator -->
            </div>
        </span>

        <span title="Copiar" class="far fa-copy copyIcon" :class="{ 'copyButton': showCopyButton }" v-if="canCopy && !isAudio" @click="copy"></span>
    </p>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue, Prop } from 'vue-property-decorator'
import { hasRole } from '../../ts/helpers'
import EditorComponent from '@tinymce/tinymce-vue'

@Component({
    components: {
        editor: EditorComponent
    }
})
export default class QuestionLabel extends Vue {
    @Prop({ required: true, type: String })
    public id!: string

    @Prop({ required: true, type: Boolean })
    public showCopyButton!: Boolean

    @Prop({ required: true, type: String })
    public text!: string

    @Prop({ required: true, type: Boolean })
    public canCopy!: boolean

    @Prop({ required: true, type: String })
    public edited!: string

    public updating: boolean = false
    public editing: boolean = false
    public editedQuestion: string | null = this.newText
    public editorSettings: object = {
        height: 150,
        menubar: false,
        toolbar: 'bold italic'
    }

    get isAudio(): boolean {
        return this.text.includes('preguntas-audios') && this.text.includes('.mp3')
    }

    get newText(): string {
        return this.edited || this.text
    }

    public hasRole = (type: string): boolean => hasRole(type)

    public copy(): void {
        const input = document.createElement('input')

        input.setAttribute('value', document.getElementById(this.id)?.innerText || '')
        document.body.appendChild(input)
        input.select()
        document.execCommand('copy')
        document.body.removeChild(input)
    }

    public edit(): void {
        if (this.editing) {
            return
        }

        this.editing = true
        this.$emit('editing-question', true)
        
        if (hasRole('editor')) {
            document.addEventListener('mousedown', this.mouseDown)
        }
    }

    private mouseDown(event: MouseEvent): void {
        const target = event?.target as HTMLElement

        if (target.id === this.id || event?.composedPath().find(item => (item as HTMLElement).className === 'tox tox-tinymce')) {
            return
        }

        this.save()
    }

    private save(): void {
        if (this.updating) {
            return
        }

        this.editing = false
        this.updating = true

        this.$emit('update-question', this.editedQuestion, () => this.updating = false)
        document.removeEventListener('mousedown', this.mouseDown)
    }
}
</script>