<template>
    <div class="screening-area">
        <div class="bottom" v-if="question">
            <div class="box" :style="{ 'border-color': screeningColor }" v-if="!isAudioQuestion">
                <div class="question" :style="{ 'background-color': screeningColor }">?</div>
                
                <div class="text-area">
                    <span id="question" v-html="questionText"></span>
                </div>
            </div>
            <audio class="d-none" id="audio-question" :src="`/storage/${question.text}`" :title="audioTime" ref="audio" controls autoplay v-else></audio>
        </div>
    </div>
</template>

<script lang="ts">
/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-preguntas
 */

import { Component, Vue } from 'vue-property-decorator'
import { namespace } from 'vuex-class'
import Question from '../../ts/models/Question'
import Setting from '../../ts/models/Setting'

const Site = namespace('Site')

@Component
export default class Screening extends Vue {
    @Site.Getter
    private currentScreeningQuestion!: Question | null

    @Site.Getter
    private settings!: Setting | null

    private _audioTime: string | null = null

    get question(): Question | null {
        return this.currentScreeningQuestion
    }

    get questionText(): string {
        const text = this.question?.edited || this.question?.text
        
        if (!text) {
            return ''
        } else if (!this.settings?.max_length) {
            return text
        }

        return text.substring(0, this.settings?.max_length) + ((text.length > this.settings?.max_length) ? '...' : '')
    }

    get isAudioQuestion(): boolean {
        return this.question?.text.includes('preguntas-audios') || false
    }

    get screeningColor(): string {
        return this.settings?.color || '#fff'
    }

    get audioTime(): string | null {
        if (!this._audioTime) {
            this._audioTime = this.question?.screening_date || null
        }

        if (this._audioTime != this.question?.screening_date && this.isAudioQuestion) {
            this._audioTime = this.question?.screening_date || null
            
            const audioElement: HTMLAudioElement = this.$refs.audio as HTMLAudioElement

            if (audioElement) {
                audioElement.pause()
                audioElement.currentTime = 0
                audioElement.play()
            }
        }

        return this.question?.screening_date || null
    }
}
</script>